@import '../../less/global.less';

:host {

  /**
   * @prop --nv-tab-item-height: Background of the tab-item
   * @prop --nv-tab-item-border-radius: Border radius of the tab-item
   * @prop --nv-tab-item-margin: Margin of the tab-item
   * @prop --nv-tab-item-padding: Padding of the tab-item
   */

  --height: var(--nv-tab-item-height, 46px);
  --margin: var(--nv-tab-item-padding, @padding-extra-small);
  --padding: var(--nv-tab-item-padding, 0 @padding-medium);

  display: flex;
  align-items: center;

  height: var(--height);
  margin: var(--margin);
  padding: var(--padding);

  cursor: pointer;
  .shadow-element(none);
}

:host::before {
  box-shadow: none;
}

@media(any-hover: hover) {
  :host(:hover)::before {
    .shadow-host-hover();
  }
  :host(:focus)::before {
    .shadow-host-focus();
  }
}

:host(:active)::before {
  .shadow-host-active();
}

:host(.selected)::before {
  .shadow-host();
}