:host {
  /**
   * @prop --nith-button-border-radius: Border Radius of the button
   * @prop --nith-button-font-size: Font size of text in the button
   * @prop --nith-button-height: Height of the button
   * @prop --nith-button-padding: Padding of the button
   * @prop --nith-button-transition: Transition to apply to the button
   *
   * @prop --nith-button-default-background: Background of the default button
   * @prop --nith-button-default-color: Color of the default button
   * @prop --nith-button-default-active-box-shadow: Box shadow of the default button in active state
   * @prop --nith-button-default-focus-box-shadow: Box shadow of the default button in focus state
   * @prop --nith-button-default-hover-box-shadow: Box shadow of default button in hover state
   *
   * @prop --nith-button-primary-background: Background of the primary button
   * @prop --nith-button-primary-color: Color of the primary button
   * @prop --nith-button-primary-active-box-shadow: Box shadow of the primary button in active state
   * @prop --nith-button-primary-focus-box-shadow: Box shadow of the primary button in focus state
   * @prop --nith-button-primary-hover-box-shadow: Box shadow of primary button in hover state
   */

   --nith-button-border-radius: 10px;
   --nith-button-font-size: 14px;
   --nith-button-height: 46px;
   --nith-button-padding: 0px 16px;
   --nith-button-transition: Transition to apply to the button
   *
   --nith-button-default-background: Background of the default button
   --nith-button-default-color: Color of the default button
   --nith-button-default-active-box-shadow: Box shadow of the default button in active state
   --nith-button-default-focus-box-shadow: Box shadow of the default button in focus state
   --nith-button-default-hover-box-shadow: Box shadow of default button in hover state
   *
   --nith-button-primary-background: Background of the primary button
   --nith-button-primary-color: Color of the primary button
   --nith-button-primary-active-box-shadow: Box shadow of the primary button in active state
   --nith-button-primary-focus-box-shadow: Box shadow of the primary button in focus state
   --nith-button-primary-hover-box-shadow: Box shadow of primary button in hover state
  --background: var(--nv-secondary-color);
  --border-radius: 10px;
  --box-shadow: -8px -6px 20px rgba(255, 255, 255, 0.9), 8px 6px 15px rgba(111, 129, 160, 0.26);
  --box-shadow-hover:-2px -3px 2px rgba(255, 255, 255, 0.6), 2px 3px 2px rgba(111, 129, 160, 0.26);
  --box-shadow-default-active: inset -2px -3px 2px rgba(255, 255, 255, 0.6), inset 2px 3px 2px rgba(111, 129, 160, 0.26);
  --box-shadow-primary-active: inset -2px -3px 2px #FEB47B, inset 2px 3px 2px rgba(45, 54, 71, 0.25);
  --color: var(--nv-color);
  --font-size: 14px;
  --height: 46px;
  --padding: 0px 16px;
  --transition: all 0.1s ease-in-out;

  display: inline-block;
  position: relative;
}

/* button primary
-------------------------------------- */
:host(.primary) {
  --background: var(--nv-primary-color);
};

/* button
-------------------------------------- */
button {
  position: relative;

  font-family: inherit;
  height: var(--height);
  padding: var(--padding);
  font-size: var(--font-size);

  background: var(--background);
  border-radius: var(--border-radius);
  border: none;
  color: var(--color);
  cursor: pointer;

  margin: 0;

  transition: var(--transition);

  outline: none;
  touch-action: manipulation;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

/* button box-shadow
-------------------------------------- */
button::before {
  content: '';

  display: block;
  position: absolute;
  top:0;
  left:0;

  height: 100%;
  width: 100%;

  z-index: -1;

  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  background: transparent;

  transition: var(--transition);
}

button::-moz-focus-inner {
  border: 0;
}

@media(any-hover: hover) {
  button:hover::before {
    box-shadow: var(--box-shadow-hover);
  }
}

button:active::before {
  z-index: 1;
}

:host(.default) button:active::before  {
  box-shadow: var(--box-shadow-default-active);
}

:host(.primary) button:active::before {
  box-shadow: var(--box-shadow-primary-active);
}


