@import '../../less/default.theme.less';

:host {
  display: block;
  border-radius: 10px;
  
  box-shadow: .shadow(@light-edge-color, @dark-edge-color)[@result];
  background: var(--nv-card-background, @default-color);
  padding: 16px;
}
