@import '../../less/global.less';

:host {

  /**
   * @prop --nv-panel-background: Background of the panel
   * @prop --nv-panel-border-radius: Border radius of the panel
   * @prop --nv-panel-padding: Padding in the panel
   */

  --background: var(--nv-panel-background, @default-color);
  --border-radius: var(--nv-panel-border-radius, @border-radius);
  --padding: var(--nv-panel-padding, @padding-medium);

  display: block;
  border-radius: var(--border-radius);
  background: var(--background);
  padding: var(--padding);

  .shadow-element(none);
}

:host(.clickable) {
  cursor: pointer;
  .shadow-element(all);
}

@media(any-hover: hover) {
  :host(.clickable:hover)::before {
    .shadow-host-hover();
  }
  :host(.clickable:focus)::before {
    .shadow-host-focus();
  }
}

:host(.clickable:active)::before {
  .shadow-host-active();
}

