@import '../../less/global.less';

:host {
  .nv-tabs-container {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;

    box-sizing: border-box;
  }

  .nv-tab-indicator {
    position: absolute;
    border-radius: 3px; 
    height: 6px;
    left: 0px;
    transition: all 0.2s ease-in-out;
    .shadow-host-hover()
  }
}




