@import '../../less/global.less';

:host {
  position: relative;
  display: block;

  .nv-tabs-container {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;

    box-sizing: border-box;
  }

  .nv-tab-indicator {
    position: absolute;
    border-radius: 3px;
    height: 100%;
    top: 0px;
    transition: all 0.2s ease-in-out;
    border-radius: 10px;
    .shadow-host-active()
  }
}

:host(.vertical) {
  .nv-tabs-container {
    display: inline-flex;
    flex-direction: column;
  }

  .nv-tab-indicator {
    width: 100%;
    right: 0px;
    top: 0px;
    left: unset;
  }
}

:host(.vertical) ::slotted(nv-tab-item) {
  // background: red;
  text-align: left;
}

:host(.horizontal) ::slotted(nv-tab-item) {
  // background: green;
  text-align: center;
}



