@import '../../less/global.less';

:host {
  /**
   * @prop --nv-button-border-radius: Border Radius of the button
   * @prop --nv-button-font-size: Font size of text in the button
   * @prop --nv-button-height: Height of the button
   * @prop --nv-button-padding: Padding of the button
   *
   * @prop --nv-button-default-background: Background of the default button
   * @prop --nv-button-default-color: Color of the default button
   *
   * @prop --nv-button-primary-background: Background of the primary button
   * @prop --nv-button-primary-color: Color of the primary button
   */

  --border-radius: var(--nv-button-border-radius, @border-radius);
  --font-size: var(--nv-button-font-size, @font-size-small);
  --height: var(--nv-button-height, 36px);
  --padding: var(--nv-button-padding, 0px @padding-medium);

  --primary-background: var(--nv-button-primary-background, @primary-color);
  --primary-background-hover: var(--nv-button-primary-background-hover, @primary-color-hover);
  --primary-background-active: var(--nv-button-primary-background-active, @primary-color-active);
  --primary-color: var(--nv-button-primary-color, @main-color);

  --secondary-background: var(--nv-button-secondary-background, @secondary-color);
  --secondary-background-hover: var(--nv-button-secondary-background-hover, @secondary-color-hover);
  --secondary-background-active: var(--nv-button-secondary-background-active, @secondary-color-active);
  --secondary-color: var(--nv-button-secondary-color, @main-color);

  --tertiary-background: var(--nv-button-tertiary-background, @tertiary-color);
  --tertiary-background-hover: var(--nv-button-tertiary-background-hover, @tertiary-color-hover);
  --tertiary-background-active: var(--nv-button-tertiary-background-active, @tertiary-color-active);
  --tertiary-color: var(--nv-button-tertiary-color, @main-color);

  --ghost-background: var(--nv-button-ghost-background, @ghost-color);
  --ghost-background-hover: var(--nv-button-ghost-background-hover, @ghost-color-hover);
  --ghost-background-active: var(--nv-button-ghost-background-active, @ghost-color-active);
  --ghost-color: var(--nv-button-ghost-color, @primary-text-color);

  display: block;
}

/* button primary
-------------------------------------- */
:host(.nv-button-primary) {
  --background: var(--primary-background);
  --background-hover: var(--primary-background-hover);
  --background-active: var(--primary-background-active);
  --color: var(--primary-color);
};

/* button secondary
-------------------------------------- */
:host(.nv-button-secondary) {
  --background: var(--secondary-background);
  --background-hover: var(--secondary-background-hover);
  --background-active: var(--secondary-background-active);
  --color: var(--secondary-color);
};

/* button tertiary
-------------------------------------- */
:host(.nv-button-tertiary) {
  --background: var(--tertiary-background);
  --background-hover: var(--tertiary-background-hover);
  --background-active: var(--tertiary-background-active);
  --color: var(--tertiary-color);
};

/* button ghost
-------------------------------------- */
:host(.nv-button-ghost) {
  --background: var(--ghost-background);
  --background-hover: var(--ghost-background-hover);
  --background-active: var(--ghost-background-active);
  --color: var(--ghost-color);
};

/* button
-------------------------------------- */
button {
  font-family: inherit;
  height: var(--height);
  padding: var(--padding);
  font-size: var(--font-size);

  background: var(--background);
  border-radius: var(--border-radius);
  border: none;
  color: var(--color);
  cursor: pointer;

  transition: background-color @transition-speed-very-fast ease-in-out;

  margin: 0;
}

button:focus,
button:hover {
  background: var(--background-hover);
}

button:active {
  background: var(--background-active);
}

/* button disabled
-------------------------------------- */
button:disabled {
  opacity: 0.6;
  cursor: default;
  pointer-events: none;
}

/* button box-shadow
-------------------------------------- */
button::-moz-focus-inner {
  border: 0;
}


